form
{
    margin-top: 10%;
    width: 50%;
}
img 
{
    border-radius: 6px;
    padding: 10px 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.desc{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#menu-box{
display: flex;
flex-direction: column;

}
.order{
    width: 250px;
    height: 40px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(114, 114, 230);
    border-radius: 25px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 40px;
}
.mt-3{
    margin: 0 auto;
}
.p-box{
   
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.p{
    font-size: 16px;
    font-weight: 600;
}
.btn {
    width: 70px;
}